<div class="infinite-scroll-container flex flex-wrap w-full justify-center" (scroll)="onScroll($event)">
  @for (item of items(); track $index) {
    <ng-container
      [ngTemplateOutlet]="itemTemplate()"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
  }

  @if (error()) {
    <div class="error-message">
      <p>Error: {{ error() }}</p>
    </div>
  }

  @if (loading()) {
    <div class="loading-indicator">
      <p>Loading...</p>
    </div>
  }

  @if (allLoaded()) {
    <div class="all-loaded-indicator">
      <p>All items loaded.</p>
    </div>
  }
</div>
