.DS_Store
**/node_modules/**

# env
config.env

**/.env.*
backend/go/.env.prod
backend/go/.env.remotedev

# Logs
backups/
log/
old-site/logs
old-site/*.log
old-site/npm-debug.log*
old-site/yarn-debug.log*
old-site/yarn-error.log*
old-site/pnpm-debug.log*
old-site/lerna-debug.log*

# assets
uploads/

# old-site
old-site/.env.prod
old-site/.env.remotedev

old-site/node_modules
old-site/dist
old-site/dist-ssr
old-site/*.local
old-site/pkg/**

deploy_key
deploy_key.pub

# auth
auth/dev/node_modules

# keep dist out of git
dist/*
# keep builds out of git
build/*
**/target/**

# Editor directories and files
old-site/.idea
old-site/*.suo
old-site/*.ntvs*
old-site/*.njsproj
old-site/*.sln
old-site/*.sw?

# rust build
old-site/src-rust/target/

# spec
spec/node_modules
spec/**/*.swp
spec/cypress/screenshots/*

\n# User Uploads\nuploads/
