.DS_Store

# env
config.env
backend/go/.env.prod
backend/go/.env.remotedev

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# frontend
frontend/.env.prod
frontend/.env.remotedev

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# auth
auth/dev/node_modules

# keep dist out of git
dist/*
# keep builds out of git
build/*

# Editor directories and files
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# rust build
frontend/src-rust/target/

# spec
spec/node_modules
spec/**/*.swp
spec/cypress/screenshots/*

