<div
  id="all-sections"
  class="flex flex-col space-y-0">
  <section id="home" class="page-size" appScrollFadeIn>
    <app-home></app-home>
  </section>
  <section id="focus" class="page-size scroll-mt-24" appScrollFadeIn>
    <app-focus></app-focus>
  </section>
  <section id="latest-posts" class="page-size scroll-mt-24" appScrollFadeIn>
    <app-latest-posts></app-latest-posts>
  </section>
  <section id="about" class="page-size scroll-mt-24" appScrollFadeIn>
    <app-about></app-about>
  </section>
  <section id="groovejr" class="page-size scroll-mt-24" appScrollFadeIn>
    <app-groove-jr></app-groove-jr>
  </section>
  <section id="blog" class="page-size scroll-mt-24" appScrollFadeIn>
    <app-blog></app-blog>
  </section>
</div>
