<footer class="grow size-full border-t border-white flex flex-col items-stretch justify-around">
  <div class="w-full px-2 py-1 mx-auto flex flex-row flex-nowrap justify-between items-center">
    <div class="grow flex flex-col">
      <span class="font-heading font-bold text-xs text-heading-text">Nate Schieber</span>
      <span class="text-xs text-body-text/60">&copy; {{ currentYear }} All rights reserved.</span>
    </div>

    <nav class="grow flex flex-wrap gap-4 justify-center md:justify-end text-xs" aria-label="Footer Navigation">
      <a href="mailto:nate@nateschieber.dev" class="text-sm font-medium text-body-text/80 hover:text-primary-accent transition-colors">Contact</a>
      <a routerLink="/privacy-policy" class="text-sm font-medium text-body-text/80 hover:text-primary-accent transition-colors">Privacy Policy</a>
    </nav>
  </div>
</footer>
