<app-page
  id="work-page">
    <div 
      page-header
      class="flex flex-col items-center" appScrollFadeIn>
      <h1 class="font-heading text-3xl md:text-5xl font-bold text-heading-text mb-4">
        Work
      </h1>
      <div class="h-1 w-12 bg-primary-accent rounded-full"></div>
    </div>
    <div
      page-body
      class="size-full">
      <app-infinite-scroll
        class="w-full"
        [items]="store.content()"
        [loading]="store.loading()"
        [allLoaded]="store.allLoaded()"
        (scrolled)="onScroll()"
        [itemTemplate]="itemTmpl"
        [error]="store.error()"
      ></app-infinite-scroll>

      <ng-template #itemTmpl let-item>
        <app-card
          appScrollFadeIn
          [title]="item.title"
          [content]="getSnippet(item.content)"
          tabindex="0"
          role="button"
          [attr.aria-label]="'View details for ' + item.title"
          (click)="viewContent(item.id)"
          (keydown.enter)="viewContent(item.id)">
        </app-card>
      </ng-template>
      
    </div>
</app-page>