<div 
  role="article" 
  class="max-w-sm rounded overflow-hidden shadow-lg bg-white dark:bg-gray-800 m-4"
>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-gray-900 dark:text-white">
      {{ title() }}
    </div>
    <p class="text-gray-700 dark:text-gray-300 text-base">
      {{ content() }}
    </p>
  </div>
  @if (tags()) {
    <div class="px-6 pt-4 pb-2">
      @for (tag of tags(); track tag) {
        <span 
          class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-200 mr-2 mb-2"
        >
          #{{ tag }}
        </span>
      }
    </div>
  }
</div>