<section id="content-feed" class="py-24 border-t border-white/5 relative">
    <div class="size-full">
      <div class="flex flex-col items-center mb-16" appScrollFadeIn>
        <h3 class="font-heading text-4xl font-bold text-center text-heading-text">
          Latest Posts
        </h3>
        <div class="h-1 w-12 bg-primary-accent mt-4 rounded-full"></div>
      </div>
      <div class="h-full">
        <app-infinite-scroll
          [items]="store.content()"
          [loading]="store.loading()"
          [allLoaded]="store.allLoaded()"
          (scrolled)="onScroll()"
          [itemTemplate]="itemTmpl"
          [error]="store.error()"
        ></app-infinite-scroll>
      </div>

      <ng-template #itemTmpl let-item>
        <app-card appScrollFadeIn [title]="item.title" [content]="item.content"></app-card>
      </ng-template>
    </div>
    <app-scroll-indicator target="/about"></app-scroll-indicator>
  </section>