
$white: #EFF0E9
$cream: #E0DACE

$black-1: #545654
$black-2: #5D5A55
$black-3: #4F4F4D
$black-4: #232323
$black-grad: linear-gradient(90deg, $black-4 0%, $black-2 100%)

$blue-1: #B7C8D0
$blue-2: #9DBFCB
$blue-3: #5F7686
$blue-4: #395A6D
$blue-grad: linear-gradient(90deg, $blue-4 0%, $blue-2 100%)

$red-1: #C9B2AC
$red-2: #7C4A43
$red-3: #774043
$red-4: #6F4344

$green-1: #A0A390
$green-2: #769073
$green-3: #788571
$green-4: #4D625B
$green-grad: linear-gradient(90deg, $green-4 0%, $green-2 100%)

$grey-1: #C8C8CA
$grey-2: #AEAEB0
$grey-3: #848488
$grey-4: #848387

$yellow-1: #DDD8BB
$yellow-2: #D8C58A
$yellow-3: #B58D46
$yellow-4: #9E8A55
$yellow-grad: linear-gradient(90deg, $yellow-2 0%, $black-1 100%)

